<div class="change_password">
    <div class="change_pass_form">
        <form [formGroup]="resetForm" class="signup_form">
            <h2>Reset your Password</h2>
            <div class="form-group">
                <input type="password" class="form-control" formControlName="password" placeholder="Password" />
                <span class="error"
                    *ngIf="resetForm.controls['password'].touched && resetForm.controls['password'].hasError('required')">Password
                    is required.</span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" formControlName="confirmPassword"
                    placeholder="Confirm Password" />
                <span class="error" *ngIf="resetForm.controls['confirmPassword'].touched && resetForm.controls['confirmPassword'].errors && 
                                resetForm.controls['confirmPassword'].errors.ConfirmPassword">Passsword and
                    ConfirmPassword didn't match.</span>
            </div>
            <div class="login_btn">
                <a href="javascript:void(0)" (click)="submit()" [ngClass]="{'disabled':resetForm.invalid}"
                    class="btn btn-primary"> Create Account </a>
            </div>
        </form>
    </div>
</div>