.message_list {
  max-height: calc(100vh - 320px);
  overflow: auto;
  margin-bottom: 20px;
}

.message {
  padding-left: 30px;
}
.message .file-box {
  background: #faefea;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 20px;
}
.message .file-box {
  background: #faefea;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 20px;
}
.message .file {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.message .file img {
  max-height: 120px;
}
.message .file .close {
  background: #6c0202;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
}
.message .file:hover .close {
  display: block;
}
.message .file .close img {
  max-width: 18px;
}

.message textarea {
  border: 1px solid #000000;
  width: 100%;
  resize: none;
  padding: 10px;
  border-radius: 11px;
  height: 118px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.message .send_btn {
  text-align: right;
  margin-right: -10px;
}

.message .send_btn a {
  background: #faefea;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 30px;
  width: 100px;
  text-align: center;
  color: #6d0202;
  border: 1px solid #000000;
  margin-right: 10px;
}
.icon {
  max-width: 14px;
  vertical-align: middle;
}
