<!-- <app-header [headerClass]="'light theme'"></app-header> -->
<section class="how_it_work_tt">
    <div class="container">
        <div class="work-2">
            <div class="work-2-text">
                <h5>Everyone’s a Host</h5>
                <h2>Turn your <strong>“gatherings”</strong> into a lifestyle</h2>
            </div>
            <div class="work-2-img">
                <img src="/assets/images/our_story.png" alt="" />
            </div>
        </div>
    </div>
</section>

<section class="how_it_work_tb">
    <div class="container">
        <div class="work-2">
            <div class="work-2-img">
                <img src="/assets/images/our_story_footer.png" alt="" />
            </div>
            <div class="work-2-text">
                <h2>Why we started</h2>
                <p>TablePop is an event platform changing the way
                    people design their entertaining experiences. Our
                    aim is to create on-demand solutions for personal,
                    social & corporate events to give access to an
                    effortlessly artful affair.</p>
                <p>TablePop was founded with a simple principle:
                    resetting entertaining to suit the modern host. Our
                    mission goes beyond the event and into the heart
                    of family, friends, community & fellowship. We
                    design real events for real people.</p>

                <p>TablePop was started as a direct result of a
                    problem encountered by its founder: The pain of
                    spending endless hours trying to curate and style a
                    milestone birthday dinner. That same month she
                    set out to fix the problem and TablePop was born.</p>
            </div>
        </div>
    </div>
</section>
<!-- <app-footer></app-footer> -->