<!-- <app-header [headerClass]="'light'"></app-header> -->
<section class="how_it_work_details">
    <div class="heading">
        <div class="container">
            <h4>How it works:</h4>
        </div>
    </div>
    <div class="process_block">
        <div class="container">
            <div class="process_inner step-1">
                <div class="works_left">
                    <span>STEP 1:</span>
                    <h2>Tell us about your project</h2>
                    <p>Tell us about the event you’re planning in a
                        questionnaire and we’ll match you to event
                        packages from virtual or IRL vendors, planners
                        and other event pros who will work with your style
                        and budget
                    </p>
                </div>
                <div class="works_right">
                    <img src="/assets/images/ILLUSTRATION.png" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="process_block step-2">
        <div class="container">
            <div class="process_inner">
                <div class="works_left">
                    <span>STEP 2:</span>
                    <h2>Meet your matches</h2>
                    <p>We’ll send you a shortlist of event pros matched
                        with your project. You can select packages they
                        offer or customize one, view their past work,
                        read reviews and message your absolute
                        favorites
                    </p>
                </div>
                <div class="works_right">
                    <img src="/assets/images/step2.png" alt="" />
                </div>
            </div>
        </div>
    </div>

    <div class="process_block step-3">
        <div class="container">
            <div class="process_inner">
                <div class="works_left">
                    <span>STEP 3:</span>
                    <h2>Start planning</h2>
                    <p>After meeting your matches
                        and receiving quotes, hire your
                        favorite planner, vendor or pro
                        and get started. TablePop will be
                        there to assist throughout the
                        entire experience.</p>
                    <a href="/servicebudget" class="btn btn-default">Get started
                        <img src="/assets/images/arrow@2x.png" alt="">
                    </a>
                </div>
                <div class="works_right">
                    <img src="/assets/images/step3.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>


<section class="why_section">
    <div class="container">
        <div class="why_box_inner">
            <div class="why_thumbnail">
                <img src="/assets/images/why_tablepop.png" alt="" />
            </div>
            <div class="why_content">
                <h2>Why TablePop?</h2>
                <p>Say goodbye — to endless databases & time-consuming
                    searches</p>

                <p>Say hello — to being empowered to plan your own event or hire a
                    planner</p>

                <p>Say hello — to niche events, social distance mapping & immersive
                    virtual soirées</p>
                <p>TablePop gives you the power to determine the level of support &
                    services you need then choose the planners, vendors &
                    professionals required to execute your unique event specifications</p>
            </div>
        </div>
    </div>
</section>
<!-- <app-footer></app-footer> -->