<!-- <app-header [headerClass]="'light'"></app-header> -->
<section class="blog_details">
    <div class="container">
        <div class="blog_inner">
            <div class="blog_left">
                <div class="blog_details" *ngIf="blogs">
                    <owl-carousel-o [options]="customOptions" #owl>
                        <ng-template carouselSlide *ngFor="let blog of blogs.blogFile">
                            <div class="blog_full_image" style="background:url({{blog.file}});">
                                <span class="category_item">
                                </span>
                                <h3>{{blogs.title}}</h3>
                                <div class="meta">
                                    <ul>
                                        <li><svg width="15" height="15" viewBox="0 0 15 15" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M12.5 13.125V11.875C12.5 11.212 12.2366 10.5761 11.7678 10.1072C11.2989 9.63839 10.663 9.375 10 9.375H5C4.33696 9.375 3.70107 9.63839 3.23223 10.1072C2.76339 10.5761 2.5 11.212 2.5 11.875V13.125"
                                                    stroke="#FFFAFA" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round"></path>
                                                <path
                                                    d="M7.5 6.875C8.88071 6.875 10 5.75571 10 4.375C10 2.99429 8.88071 1.875 7.5 1.875C6.11929 1.875 5 2.99429 5 4.375C5 5.75571 6.11929 6.875 7.5 6.875Z"
                                                    stroke="#FFFAFA" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round"></path>
                                            </svg>
                                            admin</li>
                                        <li><svg width="15" height="15" viewBox="0 0 15 15" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M11.875 2.5H3.125C2.43464 2.5 1.875 3.05964 1.875 3.75V12.5C1.875 13.1904 2.43464 13.75 3.125 13.75H11.875C12.5654 13.75 13.125 13.1904 13.125 12.5V3.75C13.125 3.05964 12.5654 2.5 11.875 2.5Z"
                                                    stroke="#FDFDFD" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round"></path>
                                                <path d="M10 1.25V3.75" stroke="#FDFDFD" stroke-width="2"
                                                    stroke-linecap="round" stroke-linejoin="round"></path>
                                                <path d="M5 1.25V3.75" stroke="#FDFDFD" stroke-width="2"
                                                    stroke-linecap="round" stroke-linejoin="round"></path>
                                                <path d="M1.875 6.25H13.125" stroke="#FDFDFD" stroke-width="2"
                                                    stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                            {{blog.created_at|date:'longDate'}}</li>
                                    </ul>
                                </div>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                    <div class="owl_nav" *ngIf="blogs.blogFile.length!=1">
                        <a class="owl_nav_left" (click)="owl.prev()"><img src="/assets/images/arrow_left.png" alt="">
                        </a>
                        <a class="owl_nav_right" (click)="owl.next()"><img src="/assets/images/arrow_right.png"
                                alt=""></a>
                    </div>
                    <div class="blog_content">
                        <p [innerHTML]="blogs.description"></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- <app-footer></app-footer> -->