<!-- <app-header [headerClass]="'light'"></app-header> -->

<section class="event_pro">
    <div class="container">
        <div class="event_pro_section">
            <div class="event_pro_inner">
                <div class="heading">
                    <h2>Are you an event pro, planner or vendor?</h2>
                </div>
                <div class="desciption">
                    <p>We hand-select planners and vendors to join our
                        team and provide them with the tools,
                        management, and customer leads to help them
                        build their brands and grow their businesses.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="become_a_planner">
    <div class="container">
        <div class="become_a_planner_inner">
            <div class="planner_left">
                <h2>Become a planner</h2>
                <p>TablePop provides Planners a
                    platform for building their portfolio,
                    showcasing their skills and setting
                    their schedules
                </p>
                <a href="{{plannerUrl}}" class="btn btn-default">Get started
                    <img src="/assets/images/arrow@2x.png" alt="">
                </a>
            </div>
            <div class="planner_right">
                <img src="assets/images/planner.png" alt="" />
            </div>
        </div>
    </div>
</section>
<section class="become_a_planner become_vendor">
    <div class="container">
        <div class="become_a_planner_inner">
            <div class="planner_left">
                <h2>Become a vendor/pro</h2>
                <p>
                    TablePop provides vendors an innovative
                    and efficient way to service clients as well
                    as support them in handling the details of
                    an event</p>
                <a href="{{vendorUrl}}" class="btn btn-default">Get started
                    <img src="/assets/images/arrow@2x.png" alt="">
                </a>
            </div>
            <div class="planner_right">
                <img src="assets/images/vendor.png" alt="" />
            </div>
        </div>
    </div>
</section>

<!-- <app-footer></app-footer> -->