.notification {
}
.notification .dashboard_inner {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
.notification .dashboard_inner .notification_block {
  flex: 1;
  max-width: 40%;
}
.notification .dashboard_inner .notification_block .notification_head {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.notification .dashboard_inner .notification_block .notification_head a {
  font-size: 12px;
  text-decoration: underline;
  color: #6d0202;
}
.notification .dashboard_inner .notification_block .notification_head h2 {
  color: #6d0202;
  font-weight: 400;
  font-size: 24px;
  flex: 1;
}
.notification .dashboard_inner .notification_block .notification_wrap {
  background: #efeae6;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 20px;
}
.notification
  .dashboard_inner
  .notification_block
  .notification_wrap
  .notification_box {
  display: flex;
}
.notification
  .dashboard_inner
  .notification_block
  .notification_wrap
  .notification_box
  .thumbnail {
  flex: 1;
  width: 90px;
  height: 90px;
  background-size: cover !important;
  max-width: 90px;
  margin-right: 10px;
}
.notification
  .dashboard_inner
  .notification_block
  .notification_wrap
  .notification_box
  .notification_details {
  flex: 1;
  padding-right: 20px;
}
.notification
  .dashboard_inner
  .notification_block
  .notification_wrap
  .notification_box
  .notification_details
  h3 {
  color: #000000;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 10px;
}
.notification
  .dashboard_inner
  .notification_block
  .notification_wrap
  .notification_box
  .notification_details
  p {
  margin: 0px;
  font-size: 13px;
}
.notification
  .dashboard_inner
  .notification_block
  .notification_wrap
  .notification_box
  .notification_control {
  flex: 1;
  max-width: 100px;
  text-align: right;
}
.notification
  .dashboard_inner
  .notification_block
  .notification_wrap
  .notification_box
  .notification_control
  a {
  color: #6d0202;
  text-decoration: underline;
  font-size: 13px;
}
.notification
  .dashboard_inner
  .notification_block
  .notification_wrap
  .notification_box
  .notification_control
  .trash_icon {
  background: #6c0202;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 46px;
  margin-top: 20px;
  float: right;
}
.notification
  .dashboard_inner
  .notification_block
  .notification_wrap
  .notification_box
  .notification_control
  .trash_icon
  img {
  max-width: 15px;
}
