<!-- <app-header></app-header> -->
<section class="banner">
    <div class="container">
        <div class="banner_inner slider">
            <div class="banner_left">
                <div class="slider-for">
                    <div>
                        <h1>Elevate events
                            into
                            experiences</h1>
                    </div>
                    <div>
                        <h1>You <br />
                            party <br />
                            we plan</h1>
                    </div>
                    <div>
                        <h1 style="max-width: 410px;">Plan any<br>
                            event on<br>any budget</h1>
                    </div>
                </div>
                <p>TablePop is a FREE service that matches you to
                    Virtual or IRL planners, vendors & event pros
                    who will work with your style and budget to
                    design personal, social & corporate event
                    experiences.
                </p>
                <a href="/findaplanner" class="btn btn-default">Plan an Event</a>
            </div>
            <div class="banner_right slider-nav">
                <div>
                    <img src="/assets/images/home_top.png" alt="" />
                </div>
                <div>
                    <img src="/assets/images/slide3.png" alt="" />
                </div>
                <div>
                    <img src="/assets/images/slide2.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="planner_box theme_bg">
    <div class="container">
        <div class="planner_grid">
            <div class="right" style="overflow: visible;">
                <img src="/assets/images/Component1@2x.png" alt=""  />
            </div>
            <div class="left">
                <h2>DIY Planner</h2>
                <p>Book event pros & rent
                    curated inventory. Best for
                    small to medium virtual or IRL
                    events that do not require
                    rigorous setup</p>
                <a href="javascript:void(0)" (click)="onlinePlanner()" class="btn btn-default">
                    Select
                    <img src="/assets/images/arrow@2x.png" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

<section class="planner_box white_bottom_bg">
    <div class="container">
        <div class="planner_grid">
            <div class="left">
                <h2>Pro Planner</h2>
                <p>Collaborate with a planner.
                    Best for medium to large
                    virtual or IRL events that
                    require management &
                    coordination experience
                </p>
                <a href="javascript:void(0)" (click)="goToService()" class="btn btn-default">Select
                    <img src="/assets/images/arrow@2x.png" alt="">
                </a>
            </div>
            <div class="right" style="overflow: visible;">
                <img src="/assets/images/Group584@2x.png" class="" alt="" appParallax />
            </div>
        </div>
    </div>
</section>


<section class="how_it_work white_bottom_bg">
    <div class="heading">
        <div class="container">
            <h4>How it works:</h4>
        </div>
    </div>
    <div class="container">
        <div class="step_inner">
            <div class="step_box">
                <span>STEP 1:</span>
                <h4>Tell us about your<br /> project</h4>
                <p>Tell us about the event you’re
                    planning in a questionnaire and
                    we’ll match you to event
                    packages from virtual or IRL
                    vendors, planners and other
                    event pros who will work with your
                    style and budget</p>
            </div>
            <div class="step_box ">
                <span>STEP 2:</span>
                <h4>Meet your curated
                    matches</h4>
                <p>We’ll send you a shortlist of
                    event pros matched with your
                    project. You can select
                    packages they offer or
                    customize one, view their
                    past work, read reviews and
                    message your absolute
                    favorites</p>
            </div>
            <div class="step_box ">
                <span>STEP 3:</span>
                <h4>Start planning your event</h4>
                <p>After meeting your matches and
                    receiving quotes, hire your
                    favorite planner, vendor or pro
                    and get started. TablePop will be
                    there to assist throughout the
                    entire experience</p>
            </div>
        </div>
        <div class="text-center">
            <a href="/howsitworks" class="btn btn-default">Get Started
                <img src="/assets/images/arrow@2x.png" alt="">
            </a>
        </div>

    </div>
</section>


<section class="customize_box">
    <div class="heading">
        <div class="container">
            <h4>Customized event experiences at your fingertips</h4>
        </div>
    </div>
    <div class="container">
        <div class="customize_inner">
            <div class="customize_box">
                <h3>
                    <img data-scroll src="/assets/images/one.png" alt="" />
                    <span>Customize</span></h3>
                <p>Customize & design your event from a selection of
                    products and services
                </p>
            </div>
            <div class="customize_box">
                <h3>
                    <img data-scroll src="/assets/images/two.png" alt="" />
                    <span>Coordination</span></h3>
                <p>We place and manage your orders across
                    multiple vendors and planners</p>
            </div>
            <div class="customize_box">
                <h3>
                    <img data-scroll src="/assets/images/three.png" alt="" />
                    <span>Concierge</span></h3>
                <p>We answer your questions & keep your
                    project running smoothly</p>
            </div>
            <div class="customize_box">
                <h3>
                    <img data-scroll src="/assets/images/four.png" alt="" />
                    <span>Customer service</span></h3>
                <p>A “just for you” event design tailored to your
                    taste, as you host & enjoy!</p>
            </div>
        </div>
    </div>
</section>


<section class="event_planing">
    <div class="container">
        <div class="planning_inner">
            <img src="/assets/images/Group 640@2x.png" alt="" />
            <h4>Event planning is now clear and simple. </h4>
            <div class="graph_table">
                <div class="head">
                    <div class="t-head"></div>
                    <div class="t-head">TablePop experience</div>
                    <div class="t-head">Typical experience</div>
                </div>
                <div class="tbody">
                    <div class="t-body-row">
                        <div class="t-body-column">PRICE</div>
                        <div class="t-body-column">Transparent pricing</div>
                        <div class="t-body-column">Hikes between first quote & final cost</div>
                    </div>
                    <div class="t-body-row">
                        <div class="t-body-column">CONVENIENCE</div>
                        <div class="t-body-column">One-stop shop for event needs</div>
                        <div class="t-body-column">Compiling from various event databases</div>
                    </div>
                    <div class="t-body-row">
                        <div class="t-body-column">DESIGN</div>
                        <div class="t-body-column">Personalized event designs with visuals</div>
                        <div class="t-body-column">Cookie-cutter designs</div>
                    </div>
                    <div class="t-body-row">
                        <div class="t-body-column">TIMELINES</div>
                        <div class="t-body-column">Regular updates with project tracking</div>
                        <div class="t-body-column">Unreliable timelines</div>
                    </div>
                    <div class="t-body-row">
                        <div class="t-body-column">SUPPORT</div>
                        <div class="t-body-column">Dedicated team for prompt response & support </div>
                        <div class="t-body-column">Minimal updates & communication delays</div>
                    </div>
                </div>
            </div>
            <p>TablePop brings together event hosts, planners and vendors all on one platform. From dinners to product
                launches and beyond, event planning shouldn’t be so difficult, therefore the modern host needs
                convenience and accessibility. By providing access to customized event experiences at your fingertips,
                we are streamlining obsolete industry practices and redefining the event planning process.</p>
            <div class="event_btn">
                <a href="/servicebudget" class="btn btn-default">Plan an event</a>
            </div>
        </div>
    </div>
</section>
<section class="innovative">
    <div class="container">
        <div class="innovative_inner">
            <div class="innovative_left ">
                <img class="zoom-images"
                    [ngClass]="{'scroll-zoom': pos > 8180 ? true : false, 'scroll-out':pos > 8520 ? true : false}"
                    src="/assets/images/footer.png" alt="" />
            </div>
            <div class="innovative_right">
                <h2>Innovative design concepts, vendor sourcing, and
                    detail-oriented planning
                </h2>
                <p>We source from highly vetted event professionals and curated inventory in order to build a custom
                    event design.</p>

            </div>
        </div>
    </div>
</section>

<!-- <app-footer></app-footer> -->