<!-- <app-header [headerClass]="'light theme'"></app-header> -->

<section class="user_section">
    <div class="container">
        <div class="user_box_inner">
            <div class="user_box">
                <img src="/assets/images/Group540.png" alt="" />
                <div class="user_con_box">
                    <h3>DIY Planner</h3>
                    <p><strong>BEST FOR</strong> <br />
                        Small to medium virtual or IRL events that
                        require simplified setup, uncomplicated
                        logistics or a manageable number of vendors.
                    </p>
                    <p>DIY Planner recommends vendors & event pros
                        packages through our planning portal. Select a
                        package, book & pay. It’s a great alternative for
                        intimate/niche gatherings.
                    </p>
                    <div class="button_box">
                        <a href="javascript:void(0)" (click)="onlinePlanner()">Get started
                            <img src="/assets/images/arrow@2x.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="user_box">
                <img src="/assets/images/Group584@.png" alt="" />
                <div class="user_con_box">
                    <h3>Pro Planner</h3>
                    <p><strong>BEST FOR</strong><br />
                        Medium to large virtual or IRL events that
                        require rigorous set up, complex management,
                        various vendors and detailed coordination.</p>
                    <p>Pro Planner matches you to a virtual or in-person planner who can design, manage & coordinate
                        your event. Select an event plan and begin your custom experience.</p>
                    <div class="button_box">
                        <a href="javascript:void(0)" (click)="goToService()">Get started
                            <img src="/assets/images/arrow@2x.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="team_box">
    <div class="container">
        <div class="team_inner">
            <div class="team_left">
                <img src="/assets/images/team.png" alt="" />
            </div>
            <div class="team_right">
                <h2>The Team</h2>
                <ul>
                    <li>
                        <h4>The Planner</h4>
                        <p>The Planner works with you to develop your vision into a cohesive design that runs throughout
                            every detail of your event! They also coordinate the vendors, venue, and beyond
                        </p>
                    </li>
                    <li>
                        <h4>The Vendors / Pros</h4>
                        <p>The Vendors & Pros get to know your requirements and ensure your event is a reflection of
                            what you
                            want.
                        </p>
                    </li>
                    <li>
                        <h4>TP Concierge</h4>
                        <p>TP Concierge serves as your advocate through every aspect of the planning process and
                            oversees the planner and vendors to ensure there are no hiccups.
                        </p>
                    </li>
                </ul>
                <div class="button_box">
                    <a href="/workwithus" class="btn btn-default">Become an Event Pro
                        <img src="/assets/images/arrow@2x.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="support_box">
    <div class="heading">
        <div class="container">
            <h4>Event support can include:</h4>
        </div>
    </div>

    <div class="support_banner">

    </div>

    <div class="support_content">
        <div class="container">
            <div class="support_content_inner">
                <ul>
                    <li>
                        <h3>Management</h3>
                        <label>(got you covered)</label>
                        <span>RSVP Tracking</span>
                        <span>Event Consulting</span>
                        <span>Virtual Integrations</span>
                        <span>Day-of Management</span>
                        <span>Vendor Coordination</span>
                        <span>Volunteer Management</span>
                    </li>
                    <li>
                        <h3>Logistics</h3>
                        <label>(the dirty details)</label>
                        <span>Rentals</span>
                        <span>Venue Sourcing</span>
                        <span>Floor/Site Plan</span>
                        <span>Event Engineering</span>
                        <span>Strategic Planning</span>
                        <span>Social Distance Map</span>
                    </li>
                    <li>
                        <h3>Creative</h3>
                        <label>(the pretty stuff)</label>
                        <span>Custom Builds</span>
                        <span>Design Boards</span>
                        <span>Conceptualization</span>
                        <span>Decor and Styling</span>
                        <span>Photography/Music</span>
                        <span>Catering/Bartending</span>
                    </li>
                    <li>
                        <h3>Partnerships</h3>
                        <label>(the collaboration)</label>
                        <span>Fulfillment</span>
                        <span>Vendor Recruitment </span>
                        <span>Contract Negotiation</span>
                        <span>Media Partnerships</span>
                        <span>Sponsorship Decks</span>
                        <span>Sponsorship Sales</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="guranity_box">
    <div class="container">
        <div class="guranity_box_inner">
            <div class="guranity_box_left">
                <div class="call_box">
                    <img src="/assets/images/call_icon.png" alt="" />
                    <h5>Schedule a call with
                        us if you’re not sure which
                        Option is right for you? </h5>
                    <div class="button_box ">
                        <a href="{{calendly}}" class="btn btn-default">Schedule a Call
                            <img src="/assets/images/arrow@2x.png" alt="" class="arrow">
                        </a>
                    </div>
                </div>
                <div class="call_box">
                    <img src="/assets/images/heart_p.png" alt="" />
                    <h5><strong>100% satisfaction
                            guaranteed.</strong></h5>
                </div>
            </div>
            <div class="guranity_box_right">
                <img src="/assets/images/Component29.png" alt="" />
            </div>
        </div>
    </div>
</section>

<!-- <app-footer></app-footer> -->