.content_block {
  padding: 20px 0px;
}

.price_box {
  display: flex;
}

.plan_wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
  margin-left: -15px;
}



.plan_wrap .plann_box .title {
  font-size: 32px;
  padding-bottom: 10px;
}

.plan_wrap .plann_box .price {
  font-weight: 800;
  font-size: 22px;
}
.plan_wrap .plann_box .price_cut {
  text-decoration-line: line-through;
  font-weight: 400;
  font-size: 15px;
  padding: 5px 0px;
  margin-left: 12px;
}

.plan_wrap .plann_box .description {
  margin-top: 10px;
  font-size: 14px;
}

.plan_wrap .plann_box a {
  background: #6d0202;
  color: #fff;
  margin-top: 19px;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid #6d0202;
  padding: 10px 20px;
  font-size: 14px;
}

.planner_accept_box {
  background: #FAEFEA;
  padding: 40px 0px;
}

.planner_accept_box .planner_accept_box_inner {
  display: flex;
  align-items: flex-start;
}

.planner_accept_box .planner_accept_box_inner .vendor_thumb {
  flex: 1;
  width: 100px;
  max-width: 100px;
}

.planner_accept_box .planner_accept_box_inner .vendor_thumb .thumbnail {
  width: 100px;
  height: 100px;
  max-width: 100px;
  border-radius: 50%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.planner_accept_box .planner_accept_box_inner .vendor_thumb h3 {
  font-size: 13px;
  text-align: center;
}

.planner_accept_box .planner_accept_box_inner .accept_box {
  flex: 1;
  padding-left: 40px;
}

.planner_accept_box .planner_accept_box_inner .accept_box span {
  font-size: 13px;
  color: #717171;
  padding-bottom: 5px;
  display: block;
}

.planner_accept_box .planner_accept_box_inner .accept_box p {
  font-size: 14px;
  margin-bottom: 20px;
}

.planner_accept_box .planner_accept_box_inner .accept_box a {
  background: #6D0202;
  padding: 10px 30px;
  border-radius: 25px;
  color: #fff;
  display: inline-block;
  font-size: 15px;
}
.plan_wrap .plann_box {
  padding: 0px;
  background: #efeae6;
  border-radius: 20px;
  max-width: 48%;
  box-sizing: border-box;
  width: calc(100% / 4 - 15px);
  margin-left: 15px;
  margin-bottom: 15px;
}
.plan_wrap .plann_box .plan_box{
  padding: 20px;
}
.plan_wrap .plann_box .planner_img {
  height: 210px;
  width: 100%;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover!important;
}
@media (max-width:767px){
  .plan_wrap {
    flex-direction: column;
    margin: 0px;
}
.plan_wrap .plann_box {
  max-width: 100%;
  margin-left: 0px;
  margin-bottom: 20px;
}
}